@import 'common';

.app-wrap {
    display: flex;
    height: 100%;
}
.button-wrap button{
    margin-top: 10px;
    height: 30px;
}
.menu {
    width: 150px;
    background: #fff;
    text-align: right;
    padding: 10px;
}

.app-title {
    font-family: PingFangSC-Medium;
    font-size: 25px;
    color: #213654;
    text-align: right;
    line-height: 31px;
}

.main-content-wrap {
    flex: 1;
    padding: 20px;
}

.app-top {
    height: 360px;
    padding: 25px 15px;
    background: #FFFFFF;
    box-shadow: 1px 3px 7px 0 rgba(0,0,0,0.13);
    border-radius: 4px 4px 0 0;
    display: flex;
    overflow: auto;
}

.app-bottom-wrap {
    margin-top: 20px;
}
.tab-label {
    width: 161px;
    height: 31px;
    background: #0391F2;
    border-radius: 6px 6px 0px 0px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 31px;
    text-align: center;
}
.app-bottom {
    background: #FFFFFF;
    box-shadow: 1px 3px 7px 0 rgba(0,0,0,0.13);
    border-radius: 4px;
    padding: 25px 15px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
