.cam-block {
    width: 253px;
    height: 210px;
    border: 1px solid #BFCCD4;
    padding: 0 12px 8px;
}
.block-title {
    position: relative;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
}

.video-wrap {
    height: 170px;
    overflow: hidden;
}

#inputcam {
    position: relative;
    top: -28px;
}
.output-image {
    width: 100%;
    height: 100%;
}
