html,
body {
    height: 100%;
    width: 100%;
    font-family: "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", Roboto, Noto, sans-serif;
    font-size: 14px;
    line-height: 1;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    color: #111;
}
body {
    background: #f2f7fb;
    margin: 0;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
