.curling-block {
    width: 478px;
    height: fit-content;
    border: 1px solid #BFCCD4;
    padding: 0 12px 8px;
    .block-title {
        position: relative;
        font-size: 14px;
        height: 27px;
        line-height: 27px;
    }
    .content-wrap {
        position: relative;
        .image-wrap {
            display: inline-block;
            vertical-align: top;
            width: 100px;
            height: 170px;
            position: relative;
            border-right: 1px solid black;
            .text-prog {
                display: inline-block;
                width: 100px;
            }
            .text-progress {
                position: absolute;
                bottom: -28px;
                left: 16px;
            }
            .img-robi {
                width: 106%;
                height: 45%;
                position: relative;
                left: -13px;
                top: 72px;
            }
        }
        .target-wrap {
            display: inline-block;
            margin-left: 70px;
            width: 40px;
            .target-button {
                width: 100%;
                height: 170px;
                line-height: 170px;
                text-align: center;
                background: lightgray;
                border: 1px solid black;
                font-weight: bold;
                position: relative;
                &.active {
                    background: lightskyblue;
                }
            }
            .target-progress {
                position: relative;
                //left: 5px;
                .el-progress__text {
                    font-size: 10px !important;
                }
            }
        }
        .target-wrap + .target-wrap {
            margin-left: 20px;
        }
        .curling-stone {
            position: absolute;
            left: 50px;
            top: 95px;
            transition: left 2s;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
