.fullscreen-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    z-index: 100;
}
.img-face {
    width: 100%;
    height: 100%;
}

.fs-close-button {
    padding: 5px 10px 0 0;
    color: #fff;
    text-align: right;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.fs-content {
    width: 100%;
    height: 100%;
}
.fs-cam-wrap {
    text-align: center;
    width: 229px;
    position: absolute;
    top: 20px;
}
.fs-img-wrap {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 200px;
}
#fs-cam {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
}
.draggable {
    user-select: none;
    transform: translate(0px, 0px);
    touch-action: none;
    border: 1px solid gray;
}
