.fs-check-wrap {
    position: absolute;
    right: 0px;
    top: 6px;
    width: 15px;
    height: 15px;
    background: url("../images/max.png") center/100% no-repeat;
    opacity: 0.5;
}
.fs-check-wrap.checked {
    opacity: 1;
}
