@import 'common.less';
@import 'app.less';

#blocklyDiv {
    width: 700px;
    height: 100%;
    position: relative;
}
.save-button-wrap {
    position: absolute;
    top: -20px;
    right: 0px;
}
.save-button {
    
}
#socketStatus {
    position: absolute;
    right: 0;
    top: 23px;
    font-size: 12px;
    color:gray;
}
.ide-wrap {
    display: flex;
    height: 100%;
    padding: 20px 0px 20px 10px;
    .blockly-panel {
        height: 100%;
        position: relative;
    }
    .main-content-wrap {
        padding: 0px 10px;
        height: 100%;
        .app-top-wrap {
            height: 60%;
            position: relative;
            .app-top {
                flex: 1;
                flex-wrap: wrap;
                position: relative;
                height: calc(100% - 40px);
            }
            .send-to-robot {
                position: absolute;
                right: 0px;
                bottom: -22px;
                font-weight: bold;
            }
        }
        .app-bottom-wrap {
            height: calc(40% - 20px);
            .app-bottom-tabs-wrap {
                padding: 0 3px;
                white-space: nowrap;
                overflow: auto;
                .tab {
                    display: inline-block;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 6px 6px 0px 0px;
                    cursor: pointer;
                    user-select: none;
                    background: #fff;
                    padding: 0 10px;
                    border: 1px solid lightgray;
                    border-bottom: none;
                    &.active {
                        font-weight: bold;
                        background: #0391F2;
                        color: #fff;
                    }
                }
            }
            .loading-wrap {
                height: 100%;
                position: relative;
                .app-bottom {
                    position: absolute;
                    bottom: 0;
                    height: calc(100% - 30px);
                    width: 100%;
                }
            }
        }
    }
}


.ide-play-buttons {
    position: absolute;
    right: 20px;
    z-index: 1;
    text-align: center;
}
.menu-button {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}
.button-play {
    background: url("../images/play.png") center/100% no-repeat;
}
.button-stop {
    background: url("../images/stop.png") center/100% no-repeat;
}
.button-demo {
    background: url("../images/demo.png") center/100% no-repeat;
}
.box-wrap {
    position: relative;
    border: 1px solid #BFCCD4;
    padding: 10px;
    min-width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 15px 15px 0;
    .title {
        height: 30px;
        line-height: 30px;
        font-weight: bold;
    }
    .button-line-center {
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 100%;
        .button {
            height: 30px;
            line-height: 30px;
            display: inline-block;
            padding: 0 30px;
            background: #20A0FF;
            border-radius: 6px;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
        }
    }
}
.ui-block {
    margin: 0 10px 10px 0;
}
.block-title {
    font-weight: bold;
}

.sending-to-robot {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: yellow;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}
