.indicator-wrap {
    .class-title {
        width: 100%;
       // height: 100px;
    }
    .result-wrap {
        width: 119.6px;
        height: 146px;
        margin: auto;
        padding-top: 80px;
        border-radius: 4px;
        border: 1px solid #dbe7ee;
        position: relative;
    }
    .result-name {
        font-size: 14px;
        color: #fff;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 80%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 20px;
    }
}
