.rf-output-wrap {
    .line {
        height:30px;
        line-height:30px;
        display: flex;
        margin-top: 10px;
        .label {
            margin-right: 10px;
        }
        .progress-wrap {
            flex: 1;
            padding-top: 5px;
        }
    }
    .button-line-center {
        .el-button  {
            width: 130px;
            font-weight: bold;
        }
    }
    .bar-green {
        .el-progress-bar__inner {
            background: limegreen;
        }
    }
}
