.rewards-wrap {
    .line {
        margin-top: 15px;
    }
    .slider-value {
        text-align: center;
        font-weight: bold;
    }
    .el-slider__bar,
    .el-slider__runway {
        height: 17px;
    }
    .el-slider__button {
        height: 24px;
        border-radius: 3px;
    }
    .el-tooltip {
        vertical-align: bottom !important;
    }
    .button-line-center {
        .el-button  {
            width: 130px;
            font-weight: bold;
        }
    }
}
