@gameWidth: 300px;
@gameHeight: 300px;
.robi-race-block {
    width: 327px;
    //height: 337px;
    border: 1px solid #BFCCD4;
    padding: 0 12px 8px;
    .block-title {
        position: relative;
        font-size: 14px;
        height: 27px;
        line-height: 27px;
    }
    .game-info {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .map-viewport {
        margin-top: 3px;
        width: @gameWidth;
        height: @gameHeight;
        position: relative;
        overflow: hidden;
        background: #6FBA80;
        .curling-stone {
            position: absolute;
            left: 135px;
            top: 235px;
            width: 40px;
            height: 30px;
        }
        .final-score {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            text-align: center;
            line-height: @gameHeight;
            font-size: 20px;
            color: yellow;
        }
    }
    .image-wrap {
        display: inline-block;
        vertical-align: top;
        width: 1320px;
        height: 1320px;
        transform-origin: 660px 660px; // w /2
        overflow: hidden;
        position: relative;
        top: -400px;
        left: -30px;
        .robi-target {
            position: absolute;
            left: 135px;
            top: 135px;
            transition: left 2s;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background: green;
            line-height: 30px;
            text-align: center;
            color: #fff;
        }
    }
    .output-image {
        width: 100%;
        height: 100%;
    }
    .robi-walking-map {
    }
}
