.robi-walking-block {
    width: 327px;
    //height: 337px;
    border: 1px solid #BFCCD4;
    padding: 0 12px 8px;
    .block-title {
        position: relative;
        font-size: 14px;
        height: 27px;
        line-height: 27px;
    }
    .map-viewport {
        width: 300px;
        height: 300px;
        position: relative;
        overflow: hidden;
        background: darkseagreen;
        .curling-stone {
            position: absolute;
            left: 135px;
            top: 135px;
            width: 40px;
            height: 30px;
            background: none;
        }
    }
    .image-wrap {
        display: inline-block;
        vertical-align: top;
        width: 880px;
        height: 880px;
        overflow: hidden;
        position: relative;
        left: -290px; // -440 + 150
        top: -290px; // -440 + 150
        .robi-target {
            position: absolute;
            left: 135px;
            top: 135px;
            //border-radius: 50%;
            width: 30px;
            height: 30px;
            //background: red;
            //line-height: 30px;
            text-align: center;
            color: #fff;
            background: url('../images/soccer-ball.png') left top/100% 100% no-repeat;
        }
    }
    .target-pointer {
        position: absolute;
        left: 50%; //todo - helfwidth height
        top: 50%;
        font-size: 20px;
        font-weight: bold;
        color: red;
    }
    .output-image {
        width: 100%;
        height: 100%;
    }
    .robi-walking-map {
    }
}
