.sentence-class-wrap {
    .line {
        height:30px;
        line-height:30px;
        margin-top: 10px;
        .label {
            margin-right: 15px;
        }
        .progress-wrap {
            flex: 1;
            padding-top: 5px;
        }
    }
    .el-popover {
        background: limegreen;
        max-height: 395px;
        overflow: auto;
    }
    .edit-wrap {
        color: #fff;
        background: limegreen;
        font-size: 12px;
        font-weight: bold;
        .edit-line {
            display: flex;
            height: 26px;
            line-height: 26px;
            margin-bottom: 5px;
            align-items: center;
            .index {
                width: 20px;
            }
            .sentence {
                flex: 1;
                border: 2px solid white;
                padding: 0 2px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 26px;
                line-height: 22px;
            }
            .edit-remove {
                margin-left: 2px;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                border: 1px solid white;
                text-align: center;
                line-height: 14px;
                font-weight: bold;
                font-size: 15px;
            }
        }
    }
    .progress-wrap {
        margin: 5px 0;
    }
}
