.speech-block {
    width: 253px;
    max-height: 150px;
    border: 1px solid #BFCCD4;
    padding: 0 12px 8px;
    .block-title {
        position: relative;
        font-size: 14px;
        height: 27px;
        line-height: 27px;
    }

    .video-wrap {
        height: unset;
        overflow: hidden;
    }
}
