.class-train-wrap {
    width: 142px;
    height: 195px;
    padding: 4px 11px;
    border: 1px solid #BFCCD4;
    margin: 0 0 10px 10px;
    text-align: center;
}
.class-title-line {
    height: 30px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    font-family: PingFangSC-Medium;
    font-size: 15px;
}
.class-title {
    font-family: PingFangSC-Medium;
    color: #213654;
    display: inline-block;
    font-size: 13px;
    flex: 1px;
    height: 18px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reset-wrap {
    font-family: PingFangSC-Medium;
    color: #0391F2;
    display: inline-block;
    font-size: 13px;
    width: 46px;
    text-align: right;
    background: url("../images/reset.png") no-repeat left center/9px 10px;
    background-position: 1.5px 2px;
    cursor: pointer;
}
.canvas-wrap{
    width: 100%;
    height: 50%;
}

.canvas-training {
    width: 100%;
    height: 100%;
}
.class-sample-count {
    // margin-top: -18px;
    font-family: PingFangSC-Medium;
    width: 100%;
    height: 14px;
    font-size: 10px;
    color: #213654;
    letter-spacing: 0;
    text-align: left;
    margin: 10px 0px;
}
.class-button-train {
    padding: 6px 20px;
    height: 24.9px;
    // line-height: 25px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}