.ui-comp-toolbar-wrap {
    height: 40px;
    padding: 9px 25px;
    background: #0391F2;
    border-radius: 0px 0px 7px 7px;
    overflow: visible;
    font-size: 10px;
    text-align: right;
    .tool-wrap {
        display: inline-block;
        margin: 0 5px;
        height: 22px;
        font-size: 10px;
        font-weight: bold;
        line-height: 22px;
        background: #fff;
        color: #00C3B3;
        padding: 0 6px;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
    }
}
